$base-sign-nationale-bg: #ffffff;
$base-sign-nationale-fg: #000000;

$base-sign-autoroute-bg: #006aff;
$base-sign-autoroute-fg: #ffffff;

$base-sign-ip-bg: #065b00;
$base-sign-ip-fg: #ffffff;

$base-sign-ic-bg: #ffffff;
$base-sign-ic-fg: #000000;

$base-sign-li-bg: #ffffff;
$base-sign-li-fg: #000000;
