$base-sign-nationale-bg: #ffffff;
$base-sign-nationale-fg: #000000;
$identification-nationale-bg: #ff0000;
$identification-nationale-fg: #ffffff;

$base-sign-autoroute-bg: #006aff;
$base-sign-autoroute-fg: #ffffff;
$identification-autoroute-bg: #006aff;
$identification-autoroute-fg: #ffffff;

$base-sign-ip-bg: #065b00;
$base-sign-ip-fg: #ffffff;
$identification-ip-bg: #065b00;
$identification-ip-fg: #ffffff;

$base-sign-ic-bg: #ffffff;
$base-sign-ic-fg: #000000;
$identification-ic-bg: #ffffff;
$identification-ic-fg: #000000;

$base-sign-li-bg: #ffffff;
$base-sign-li-fg: #000000;
$identification-li-bg: #ff9900;
$identification-li-fg: #000000;

$toll: #ffcc00;
$toll-alt: #000000;

$base-color: #000000;