$sign-s-width: 1024px;
$sign-s-height: 768px;

$sign-m-width: 1440px;
$sign-m-height: 900px;

$sign-l-width: 1920px;
$sign-l-height: 1080px;

$road-importance-s: 2em;
$road-importance-m: 2.5em;
$road-importance-l: 3em;
$road-importance-xl: 4em;

$arrow-size: 6rem;
