<div class="d-flex gap-m">
  @if (signPart.leftArrow && signPart.leftArrowType) {
  <div class="my-auto">
    <app-basic-arrow [arrow]="signPart.leftArrowType"></app-basic-arrow>
  </div>
  }
  <div
    class="d-flex gap-m justify-content-center flex-1"
    [ngClass]="{
      'flex-column': signPart.identificationPosition === 'HAUT'
    }"
  >
    <div
      class="d-flex my-auto gap-m"
      [ngClass]="{
        'justify-content-center': signPart.identificationPosition === 'HAUT'
      }"
    >
      @for (identification of signPart.identification; track $index) {
      <app-road-identification
        [roadIdentification]="identification"
      ></app-road-identification>
      }
    </div>
    <div class="d-flex flex-column">
      @for (direction of signPart.direction; track $index) {
      <div class="d-flex flex-1 justify-content-center">
        <div class="d-flex gap-s px-1">
          @for (icon of direction.icon; track $index) {
          <img
            src="icons/img_{{ icon }}.gif"
            class="my-auto"
            height="50"
            width="50"
            alt=""
          />
          }
        </div>
        <p
          class="p-0 m-0 road-importance-{{
            direction.importance.toLowerCase()
          }} text-center"
        >
          {{ direction.label }}
        </p>
      </div>
      }
    </div>
  </div>
  @if (signPart.rightArrow && signPart.rightArrowType) {
  <div class="my-auto">
    <app-basic-arrow [arrow]="signPart.rightArrowType"></app-basic-arrow>
  </div>
  }
</div>
