@use "../../styles/sizes.scss";

.road-importance-s {
  font-size: sizes.$road-importance-s;
}

.road-importance-m {
  font-size: sizes.$road-importance-m;
}

.road-importance-l {
  font-size: sizes.$road-importance-l;
}

.road-importance-xl {
  font-size: sizes.$road-importance-xl;
}
