@use "../../styles/colors.scss";
@use "../../styles/sizes.scss";

.sign-parent {
  border: 2px solid;
  border-radius: 1em;
  padding: 1px;
}

.base-sign {
  border: 2px solid;
  border-radius: 1em;
  padding: 2px;
}

.sign-type-a {
  background-color: colors.$base-sign-autoroute-bg;
  color: colors.$base-sign-autoroute-fg;
  border-color: colors.$base-sign-autoroute-fg;
}

.sign-type-a-base {
  border-color: colors.$base-sign-autoroute-bg;
  background: colors.$base-sign-autoroute-fg;
}

.sign-type-n {
  background-color: colors.$base-sign-nationale-bg;
  color: colors.$base-sign-nationale-fg;
  border-color: colors.$base-sign-nationale-fg;
}

.sign-type-n-base {
  border-color: colors.$base-sign-nationale-bg;
  background: colors.$base-sign-nationale-fg;
}

.sign-type-ip {
  background-color: colors.$base-sign-ip-bg;
  color: colors.$base-sign-ip-fg;
  border-color: colors.$base-sign-ip-fg;
}

.sign-type-ip-base {
  border-color: colors.$base-sign-ip-bg;
  background: colors.$base-sign-ip-fg;
}

.sign-type-ic {
  background-color: colors.$base-sign-ic-bg;
  color: colors.$base-sign-ic-fg;
  border-color: colors.$base-sign-ic-fg;
}

.sign-type-ic-base {
  border-color: colors.$base-sign-ic-bg;
  background: colors.$base-sign-ic-fg;
}

.sign-type-li {
  background-color: colors.$base-sign-li-bg;
  color: colors.$base-sign-li-fg;
  border-color: colors.$base-sign-li-fg;
}

.sign-type-li-base {
  border-color: colors.$base-sign-li-bg;
  background: colors.$base-sign-li-fg;
}

.sign-size-s {
  width: sizes.$sign-s-width;
  height: sizes.$sign-s-height;
}

.sign-size-m {
  width: sizes.$sign-m-width;
  height: sizes.$sign-m-height;
}

.sign-size-l {
  width: sizes.$sign-l-width;
  height: sizes.$sign-l-height;
}
