.d-flex{
    display: flex;
}

.flex-column{
    flex-flow: column;
    flex-direction: column;
}

.align-baseline{
    align-items: baseline;
}

.justify-space-evently{
    justify-content: space-evenly;
}

.w-100{
    width:100%;
}

.align-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.w-auto{
    width: auto;
}

.m-0{
    margin: 0px;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.text-bold{
    font-weight: bold;
}

.w-fit-content{
    width: fit-content;
}