@switch (arrow) { @case ('BAS') {
<i class="pi pi-arrow-down arrow"></i>
} @case ('HAUT') {
<i class="pi pi-arrow-up arrow"></i>
} @case ('GAUCHE') {
<i class="pi pi-arrow-left arrow"></i>
} @case ('DROITE') {
<i class="pi pi-arrow-right arrow"></i>
} @case ('HAUT_GAUCHE') {
<i class="pi pi-arrow-up-left arrow"></i>
} @case ('HAUT_DROITE') {
<i class="pi pi-arrow-up-right arrow"></i>
}@case ('BAS_GAUCHE') {
<i class="pi pi-arrow-down-left arrow"></i>
} @case ('BAS_DROITE') {
<i class="pi pi-arrow-down-right arrow"></i>
}}
