@use "../../styles/colors.scss";
@use "../../styles/sizes.scss";

.road-identification {
  border: 2px solid;
  border-radius: 0.25em;
  font-weight: bolder;
  font-size: 1.5em;
}

.has-toll {
  padding-left: 0.5em;
}

.sign-type-a {
  background-color: colors.$identification-autoroute-bg;
  color: colors.$identification-autoroute-fg;
  border-color: colors.$identification-autoroute-fg;

  .has-toll {
    color: colors.$toll;
  }
}

.sign-type-n {
  background-color: colors.$identification-nationale-bg;
  color: colors.$identification-nationale-fg;
  border-color: colors.$identification-nationale-fg;

  .has-toll {
    color: colors.$toll;
  }
}

.sign-type-ip {
  background-color: colors.$identification-ip-bg;
  color: colors.$identification-ip-fg;
  border-color: colors.$identification-ip-fg;

  .has-toll {
    color: colors.$toll;
  }
}

.sign-type-ic {
  background-color: colors.$identification-ic-bg;
  color: colors.$identification-ic-fg;
  border-color: colors.$identification-ic-fg;

  .has-toll {
    color: colors.$toll;
  }
}

.sign-type-li {
  background-color: colors.$identification-li-bg;
  color: colors.$identification-li-fg;
  border-color: colors.$identification-li-fg;

  .has-toll {
    color: colors.$toll-alt;
  }
}
